{% block footer %}

<footer class="footer" role="contentinfo">
  <div class="footer__main">
    {%- if page.footer_first -%}
      <div class="footer__first">
        {{ page.footer_first }}
      </div>
    {%- endif -%}
    {%- if page.footer_second -%}
      <div class="footer__second">
        {{ page.footer_second }}
      </div>
    {%- endif -%}
    {%- if page.footer_third -%}
      <div class="footer__third">
        {{ page.footer_third }}
      </div>
    {%- endif -%}
    {%- if page.footer_fourth -%}
      <div class="footer__fourth">
        {{ page.footer_fourth }}
      </div>
    {%- endif -%}
  </div>
  {%- if page.footer_fifth -%}
    <div class="footer__secondary">
      {{ page.footer_fifth }}
    </div>
  {%- endif -%}
</footer>
{% endblock %}