{% block footer %}
<footer class="footer" role="contentinfo">
  <div class="footer__main">
    <div class="container-fluid">
    <div class="row">
    {%- if page.footer_first -%}
      <div class="footer__first">
        <div class="col-md-3">
        {{ page.footer_first }}
        </div>
      </div>
    {%- endif -%}
    {%- if page.footer_second -%}
      <div class="footer__second">
        <div class="col-md-3">
        {{ page.footer_second }}
        </div>
      </div>
    {%- endif -%}
    {%- if page.footer_third -%}
      <div class="footer__third">
        <div class="col-md-3">
        {{ page.footer_third }}
        </div>
      </div>
    {%- endif -%}
    {%- if page.footer_fourth -%}
      <div class="footer__fourth">
        <div class="col-md-3">
        {{ page.footer_fourth }}
        </div>
      </div>
    {%- endif -%}
    </div>
    </div>
  </div>
  {%- if page.footer_fifth -%}
    <div class="footer__secondary">
      <div class="container-fluid">
        {{ page.footer_fifth }}
      </div>
    </div>
  {%- endif -%}
</footer>
{% endblock %}