{% block footer %}
<footer class="footer" role="contentinfo">
  <div class="footer__main">
    <div class="content-container container-fluid">
      <div class="footer__row">
      {%- if page.footer_first -%}
        <div class="footer__column footer__first">
          {{ page.footer_first }}
        </div>
      {%- endif -%}
      {%- if page.footer_second -%}
        <div class="footer__column footer__second">
          {{ page.footer_second }}
        </div>
      {%- endif -%}
      {%- if page.footer_third -%}
        <div class="footer__column footer__third">
          {{ page.footer_third }}
        </div>
      {%- endif -%}
      {%- if page.footer_fourth -%}
        <div class="footer__column footer__fourth">
          {{ page.footer_fourth }}
        </div>
      {%- endif -%}
      </div>
    </div>
  </div>
  {%- if page.footer_fifth -%}
    <div class="footer__secondary">
      <div class="content-container container-fluid">
        {{ page.footer_fifth }}
      </div>
    </div>
  {%- endif -%}
</footer>
{% endblock %}